* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue",sans-serif;
}

.container {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  height: calc(100vh - 34px);
  
}

.container form {
  display:flex;
  flex-direction:column;
  align-items:center;
  border: 1px solid rgba(147, 184, 189,0.8);
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  border-radius:0.25rem;
}


.container h2 {
  margin: 1rem 0 2rem 0;
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #ccc;
  padding-bottom: 0.25rem;
  color: #066a75;
}


.container label {
  font-size:1rem;
  color: #405c60;
  margin-right: 16rem;
}

.container .att {
  margin-right: 14rem;
}
.container input[type="text"], .container input[type="password"] {
  width:350px;
  height:40px;
  margin-bottom:1rem;
  outline:none;
  font-style: italic;
  border-radius: 0.25rem;
  text-indent: 14px;
  color: #bebcbc;
  
}
.container .checkbox {
  width:100%;
  display: flex;
  margin-left: 9rem;
}

.container .checkbox input[type="checkbox"] {
  margin-right: 0.85rem;
}

.container input[type="submit"] {
  width:350px;
  height:40px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 1rem;
  background: rgb(61,157,179);
  color: #fff;
  border: 1px solid #fff;
  border-radius: 0.25rem;
  transition: all 0.2s linear;
  padding:8px 5px;
  margin-bottom: 2rem;
}

.container input[type="submit"]:hover {
  background: #4ab3c6;
}

.container .btn-acoes {
  width:100%;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background:#E1EAEB;
}

.container .btn-acoes .link {
  font-weight: bold;
  background: #f7f8f1;
  padding: 6px;
  color: rgb(29, 162, 193);
  margin-left: 5rem;
  border: 1px solid #cbd518;
 
  -webkit-border-radius: 4px;
  border-radius: 4px;  
 
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s  linear;
}

.container .btn-acoes .nao_tem_conta {
  color: #7f7c7f;
  text-decoration: none;
  justify-self: flex-end;
  margin-right: -4rem;
}
.container .btn-acoes .nao_tem_conta:hover {
  color: #665d66;

}


.container .btn-acoes .link:hover {
  color: #39bfd7;
  background: #f7f7f7;
  border: 1px solid #4ab3c6;
}
/* mensagem de erro */
.warning {
  color: red;
  /* background-color: red; */
  padding:1rem;
  margin-top: 1rem;
  border-radius: 0.25rem;
}


.logout {
  display:block;
  background:red;
  border-radius: 0.56rem;
}

